// src/components/Layout/index.scss
.page {
  width: 100%;
  min-height: 100vh; // Allow page to grow beyond viewport height
  position: relative;   // Changed from absolute, might need further adjustment
  overflow-y: auto;   // Allow this container to scroll
  padding-left: 40px; // Keep existing padding

  margin-left: 7px; // Sidebar'ın görünür kısmı kadar boşluk (for desktop)
  transition: all 0.3s ease;
  
}


.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 50px;
  font-family: "La Belle Aurore";
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.bottom-tag-html {
  margin-left: -20px;
}

// Tüm sayfa içeriklerinin stilini düzenlemek için
.container {
  padding-left: 20px; // İçeriği biraz daha sağa kaydır
  box-sizing: border-box;
}
