html{
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  font:300 11px/1.4 'Helvetica Neue', sans-serif;
  color: rgb(36, 6, 81);
  background: rgb(2, 0, 18);
  height: 100%;
  /* overflow:hidden; Removed */
  display:block; /* display: block is default for body, can be removed if not specifically needed for other reasons */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


